.box-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.box2{
    margin-top: 40px;
}
.box3{
    margin-top: 40px;
}
.BOX2{
    margin-left: 40px;
}

/* BOX2 */
.head{
    width: 200px;
    height: 460px;
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid rgba(191, 204, 206, 0.043);
    box-shadow: 0 5px 8px rgba(8, 1, 1, 0.329);
    margin: 40px;
    
}


.Tamtinh{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.gia1{
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.dongdau{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}

.gia2{
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.donghai{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;

}
.giamgia{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.gia3{
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity));
    
    font-size:24px;
}
.dongba{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;

}
.tongcong{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}


.ghichu{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.dong4{
    display: flex;
    align-items:center;
}