.justify-content-end {
    justify-content: left !important;
}

.navbar-logo{
    display: flex;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.toggle-login{
    margin-left: 10px;
}

.offcanvas{
    width: 600px !important;
}